.map-container {
  position: relative;
}

.map-list {
  position: absolute;
  left: 0;
  width: 200px;
  height: 450px;
  overflow-y: scroll;
}

.arc {
	stroke-dasharray: 100%;
	animation: dash 5s linear normal infinite;
}

@keyframes dash {
	from {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: 100%;
	}
}